[Desktop Entry]
Type=Application
Name=Traduc
Exec=/home/jfd/Développement/workspace/traduc/traduc.sh
StartupNotify=true
Icon=/home/jfd/workspace/traduc/images/text-speak.png
Name[fr_FR]=Exercices de vocabulaire
GenericName[fr_FR]=Exercices de vocabulaire
